<div id="tasks" class="section">
  {{input type="text" class="task-field" placeholder="What needs doing?" value=fields.title action="createTask"}}

  <ul id="task-list">
    {{#each task in incompleteTasks}}
      {{task-item model=task}}
    {{else}}
      <div class="no-tasks">
        No tasks remaining.
      </div>
    {{/each}}
  </ul>

  <div id="completed-tasks">
    {{#if completedTasks}}
      <h3 class="center">Completed Tasks</h3>
      <div {{action "clearCompleted"}} class="delete-action center">Clear</div>
    {{else}}
      <h3 class="center">No Completed Tasks</h3>
    {{/if}}

    <ul id="task-list">
      {{#each task in completedTasks}}
        {{task-item model=task}}
      {{/each}}
    </ul>
  </div>
</div>
