<div id="timer" class="section">
  <div class="timer-wrapper">
    <div {{bind-attr class=":progress-radial timerProgress"}}>
      <div {{bind-attr class=":overlay pulsate"}}>
        <div id="counter-container">
          <div class="counter">
            {{format-counter counter}}
          </div>

          <div class="controls">
            {{#if timerRunning}}
              <i {{bind-attr class=":fa-pause pausePlayAnimationClass"}} {{action "pauseTimer"}}></i>
            {{else}}
              <i {{bind-attr class=":fa-play clickingClass"}} {{action "startTimer"}}></i>
            {{/if}}

            <i {{bind-attr class=":fa-stop stopButtonAnimation"}} {{action "stopTimer"}}></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
